<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
	
	
	
	
	<style>
	#editorjungbo {
	 border: 5px solid black;
	
	}
	</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<!-- include summernote-ko-KR -->
<script src="js/summernote-ko-KR.js"></script>

<title>글쓰기</title>

<script>
$(document).ready(function() {
	//여기 아래 부분
	$('#summernote').summernote({
		height: 500,                 // 에디터 높이
		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					// 한글 설정
		  placeholder: '내용',
          disableResizeEditor: true,	// 크기 조절 기능 삭제
          toolbar: [
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            ['color', ['forecolor','color']],
            ['table', ['table']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert',['picture','link','video']],
            ['view', ['fullscreen', 'help']]
          ],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
        callbacks: {
            onImageUpload: function(files, editor, welEditable) {
              for (var i = files.length - 1; i >= 0; i--) {
                sendFile(files[i], this);
              }
            },
          },
        })
      })
      
      function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('img', file);
        $.ajax({
          data: form_data,
          type: "POST",
          url: '/test/api/image',
          cache: false,
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          success: function(tempImg) {
              $('#summernote').summernote('insertImage', tempImg.savedPath, tempImg.originalName);
            },
        })
      }
      


</script>
</head>


<body layout:fragment="content">

	<div style="width: 60%; margin: auto;">

		<form method="post" name="editorjungbo" action="/editor/editor4">

			<input class="input" type="text" name="tag" style="width: 100%;"
				placeholder="해시태그"> 
				<br><br> 
				
			<div id="language-section">
				<img id="language-img" src="/img/question-mark.png" style="width:50px; margin-bottom:10px"/>
				<nav class="panel" style="width:150px">
					<input class="input" type="text" name="usedLanguage" id="language-Search" placeholder="사용언어">
					
					<div id="similar-tag-list">
					</div>
				</nav>
				<input type="hidden" id="icon-path" name="iconPath" value="">
 			</div> 
			
			<br>
			 <!-- <input class="input" type="text" style="width: 100%;"
				placeholder="깃허브url"> <input class="button"
				th:onclick="getTags()" type="button" value="깃허브 연결하기"> -->
			<p>
				<br><br>
				<ul id="tag-list"></ul>
				<input class="input is-medium" name="title" type="text"
					style="width: 100%;" placeholder="프로젝트 제목" maxlength="50">
			</p>

			<textarea id="summernote" name="content" maxlength="2048"></textarea>


			<input class="button" type="submit" value="글쓰기">
		</form>
	</div>
 

   
   
  
	

  		


<script th:inline="javascript"> // 4.
    function getTags() {
    	$.ajax({
            type: "GET",
            url: '/api/tech-tag/resource-loc/10',
			success: function(str) {
               console.log(str);
			},
		});
	}
	
    const languageSection = document.getElementById('language-section');
    const searchInput = document.getElementById('language-Search');
    const similarTagList = document.getElementById('similar-tag-list');
    const languageImg = document.getElementById('language-img');
    const iconPath = document.getElementById('icon-path');
    const usedLanguageId = document.getElementById('used-language-id');
    
    let timeout = null;

    searchInput.addEventListener('input', () => {
      clearTimeout(timeout);
      timeout = setTimeout(() => {
    	if(searchInput.value != "") {
	    	$.ajax({
				type: "GET",
				url: '/api/tag/similar?tag='+searchInput.value,
				success: function(tags) {
					const tagList = tags.tagList;
					similarTagList.replaceChildren();
					console.log(tags)
					for(let i = 0; i < tagList.length; i++) {
						similarTagList.innerHTML += "<a class='panel-block' onclick='clickTag("+tagList[i].tagId+")' id='_"+tagList[i].tagId+"'> <span class='panel-icon'> <i class='fas fa-book' aria-hidden='true'></i></span>"+tagList[i].tagName+"</a>"
					}
				},
	  		});
    	}
    	else {
    		similarTagList.replaceChildren();
    	}
      }, 500);
    });
    
    function clickTag(tagId) {
    	$.ajax({
            type: "GET",
            url: '/api/tech-tag/resource-loc/'+tagId,
			success: function(str) {
				const tag = document.getElementById('_'+tagId);
		    	searchInput.value=tag.text.trim();
		    	//이미지 세팅
		    	languageImg.src=str;
		    	iconPath.value = str;
		    	//태그 세팅
		    	// usedLanguageId.value=tag.text.trim();
		    	// 지우기
		    	similarTagList.replaceChildren();
			},
		});
    }


</script>



</body>
</html>