<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="script">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
          var logout = function() {
            $.post("/logout", function() {
              $("#user").html('');
              $(".unauthenticated").show();
              $(".authenticated").hide();
            })
            return true;
          }
        </script>
</th:block>

<div th:fragment="header">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/"> <img src="../img/rogotxt.png"
				width="60" height="50">
			</a> <a role="button" class="navbar-burger" aria-label="menu"
				aria-expanded="false" data-target="navbarBasicExample"> <span
				aria-hidden="true"></span> <span aria-hidden="true"></span> <span
				aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/projectboard"> 프로젝트 </a>
				<!-- <a class="navbar-item" href="/recruimentboard"> 구인공고 </a> -->
					<a class="navbar-item" sec:authorize="hasAnyAuthority('ROLE_USER')" href=" /myprojectboard"> 마이페이지 </a>

			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
					 <!--    <span th:text="${#authentication.name} 님" id="user"style="margin-right: 25px; font-size: 17px;
					    vertical-align: middle;"></span>
					     사용자 정보 출력-->
						<button class="button is-primary" sec:authorize="isAuthenticated()" onclick="louout()"> <strong>로그아웃</strong>
						</button> <a class="button is-primary is-light" sec:authorize="isAnonymous()" href="/loginpage" > 로그인 </a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>



</html>