<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div th:fragment="header">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/"> <img src="../img/rogotxt.png"
				width="60" height="50">
			</a> <a role="button" class="navbar-burger" aria-label="menu"
				aria-expanded="false" data-target="navbarBasicExample"> <span
				aria-hidden="true"></span> <span aria-hidden="true"></span> <span
				aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/projectboard"> 프로젝트 </a>
				<!-- <a class="navbar-item" href="/recruimentboard"> 구인공고 </a> -->
					<a class="navbar-item" sec:authorize="isAuthenticated()" href=" /myprojectboard"> 마이페이지 </a>

			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
					 <!--    <span th:text="${#authentication.name} 님" id="user"style="margin-right: 25px; font-size: 17px;
					    vertical-align: middle;"></span>
					     사용자 정보 출력-->
						<a class="button is-primary" sec:authorize="isAuthenticated()"> <strong>로그아웃</strong>
						</a> <a class="button is-primary is-light" sec:authorize="isAnonymous()" href="/loginpage" > 로그인 </a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
</html>