<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">
	<style>
main {
	background: #000000;
	min-height: 650px;
}
</style>
</th:block>

<main layout:fragment="content">
<div class="column is-half is-offset-one-quarter">>
	<h1 class="title is-1">프로젝트</h1>
	</div>
	<div class="columns is-mobile">
		<div class="column is-half is-offset-one-quarter">
			<div class="notification is-white">
				<input class="input is-normal" type="text" placeholder="Search">
			</div>
		</div>
	</div>

</main>

</html>