<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">
	<!--  content에 스타일 주기 -->
	<style>
main {
	background: #ffffff;
	min-height: 650px;
}
</style>
</th:block>

<head>
<title>캡스톤 디자인</title>

</head>
<main layout:fragment="content">
	<div class="column is-half is-offset-one-quarter">
		<div class="columns is-mobile is-centered mt-6 mb-6">
			<img src="./img/rogo.png" width="360" height="240">
		</div>
	</div>
	<form class="columns is-mobile" action="test/search_action">
		<!-- 테스트 붙여줘야 권한이 나옴 -->
		<div class="column is-half is-offset-one-quarter">
			<div class="notification is-white">
				<input class="input is-normal" type="search" name="searchtxt"
					placeholder="Search">

			</div>
		</div>
	</form>
	<div class="column is-half is-offset-one-quarter">
		<div class="columns is-mobile is-centered">
			<span th:each="tag: ${tags}" class="tag is-primary is-light is-large" style="margin-right:20px;">
				<b th:text=${tag}></b>
			</span>

		</div>
	</div>
</main>


</html>