<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">

	<!--  content에 스타일 주기 -->
	<style>
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

main {
	background: #ffffff;
	min-height: 650px;
}

.contai {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.box1 {
	width: 500px;
	height: 320px;
	margin-right: 25px;
	margin-bottom: 30px;
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 2px
		rgba(10, 10, 10, 0.02);
	color: #4a4a4a;
	display: block;
	padding: 1.25rem;
}

.namemail {
	font-size: 7px;
}

img.boardimg {
    border-radius: 6px;
	width: 280px;
	height: 170px;
	border: 0.1px solid black;
}

img.lan {
	vertical-align: top;
	width: 50px;
	height: 50px;
}
</style>

</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});

		function page(page) {
			console.log(page);
			
			var keywords = $("#keywords").val();
			if(keywords === undefined)
			{keywords = "";}
			console.log("/projectboard?page=" + page + "&size=6&keywords="
					+ keywords);

			location.href = "/projectboard?page=" + page + "&size=6&keywords="
					+ keywords;
			
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.6.2.slim.min.js" integrity="sha256-E3P3OaTZH+HlEM7f1gdAT3lHAn4nWBZXuYe89DFg2d0=" crossorigin="anonymous"></script>
</th:block>


<head>
<title>캡스톤 디자인</title>

</head>
<main layout:fragment="content">
	<form th:action="@{'/projectboard'}" role="form"
		method="get" th:object="${myproject_}">
		<div class="column is-half is-offset-one-quarter"
			style="margin-bottom: -12px;">
			<div class="columns is-mobile is-centered mt-6 mb-6">
				<img src="./img/mypage.png" width="360" height="160">
			</div>
		</div>

	<!-- 	<div class="columns is-mobile"
			style="margin-top: 15px; margin-bottom: 10px;">
			<div class="column is-11 is-offset-1">
				<div class="buttons has-addons">
					<button class="button is-success is-selected">최신순</button>
					<button class="button" onclick="location.href=''">좋아요순</button>
				</div>
			</div>
		</div> -->
		<div class="columns is-mobile" style="margin-top: 40px;">
			<div class="column is-10 is-offset-1 container">
				<!-- 컨트롤러로 부터 프로젝트 데이터 받기 -->
				<div th:each="project, status : ${myproject_.getContent()}">
					<a class="box1 contai" th:href="'/projectboard/'+${project.contentId}">
						<div>
							<img class="boardimg" style="text-align: left;"
								th:src="${project.imgSavedPath}"> <img th:src="${project.techImgPath}"
								class="lan" align="right" 
								> 
								
						</div>
						<div>
							<strong><span style="display: inline-block; width: 200px;" th:text="${project.title}"></span></strong>
							
							<span
								style="margin-left: 110px; font-size: 5px;"
								th:text="${project.email}" ></span> <span
								style="font-size: 5px; text-align: right;"
								th:text="${project.username}"></span>
							
							<div style="margin-top: 7px;">

								<span th:each="tag : ${project.tags}"
									class="tag is-primary is-light"> <span
									th:text="${tag.tagName}"></span>
								</span>
							</div>
							<div style="margin-top: 7px; font-size: 5px;">
								</span>

							</div>
							<div style="vertical-align: bottom;">

								<div
									style="vertical-align: right; font-size: 10px; text-align: right;">
									<span th:text="${project.createdDate}"></span>
									<div class="right_area" style="text-align: right;">
										<span th:text="${project.heart}"></span>좋아요 조회수<span
											style="vertical-align: top; text-align: right;"
											th:text="${project.hits}"></span>회

									</div>

								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
	 	
			
			</div>

<div class="columns is-mobile">
		<div class="column is-4 is-offset-5"
		th:with="start=${(myproject_.number/maxPage)*maxPage + 1}, 
			 end=(${(myproject_.totalPages == 0) ? 1 : (start + (maxPage - 1) < myproject_.totalPages ? start + (maxPage - 1) : myproject_.totalPages)})" >
            <ul class="buttons has-addons" style="vertical-align: middle;">

			   <li class="button" th:classappend="${myproject_.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${myproject_.number - 1} + ')'" aria-label='Previous'>
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>
                <li class="button" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${myproject_.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text">[[${page}]]</a>
                </li>

                <li class="button" th:classappend="${myproject_.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${myproject_.number + 1} + ')'" aria-label='Next'>
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
          </div>
        </div> 
	</form>
</main>


</html>