<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">
	<!--  content에 스타일 주기 -->
	<style>
main {
	background: #ffffff;
	min-height: 650px;
}

.box1 {
	width: 385px;
	height: 240px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px
		rgba(10, 10, 10, 0.02);
	color: #4a4a4a;
	display: block;
	padding: 1.25rem;
}

img.boardimg {
	width: 120px;
	height: 80px;
}

img.lan {
	vertical-align: top;
	width: 50px;
	height: 50px;
}
</style>
</th:block>

<head>
<title>구인 공고</title>

</head>
<main layout:fragment="content">
	<form class="columns is-mobile" action="/get-test">
		<div class="column is-10 is-offset-1">
			<div class="notification is-white">
				<input class="input is-normal" type="search" name="searchtxt"
					placeholder="Search">

			</div>
		</div>
	</form>


	<table>
		<tr>
			<!-- 컨트롤러로 부터 프로젝트 데이터 받기 -->
			<td th:each="recruiment : ${recruiment_}">
				<div class="box1">
					<table class="table">
						<tr>
					<td><span th:text="${recruiment.ends}"></span></td>
						<td><span th:text="${recruiment.usedLanguage}"></span></td>
						<td><span th:text="${recruiment.count}"></span>
						</td>
						</tr>
					</table>
					<div>
						<strong><span th:text="${recruiment.title}"></span></strong>
						<div style="margin-top: 7px;vertical-align: bottom;">
							<span style="font-size: 5px;" th:text="${recruiment.email}"></spsan>
							<span style="font-size: 5px;" th:text="${recruiment.writer}"></span>
						</div>
					</div>
					<div style="vertical-align: bottom;"><p style="text-align: right;font-size: 10px;">
					<span th:text="${recruiment.viewCount}"></span></p></div>
				</div>
			</td>
		</tr>
	</table>
</main>


</html>